/out/
/tmp/

/date.now.txt
/cscope.out
/tags
/_vim/cscope.files
[0-9a-z].txt
[0-9a-z].diff
[0-9a-z].bak
/bkOBJsDIR/
/bkZIP/
/_vim/cscope.in[0-9]
/ana/
/[0-9a-z].sh
/[0-9]/

/coe.now.coe

bkCOE
bkCDS/
/bit.another.bit
/mcs.another.mcs
/bkMCS/
/bkBIT/
/bkRAR/
/mcs.another.mcs
/tt21tmp.bak[1234567890]/
/tt21tmp/

/svf.FPGA.flash.svf
/svf.FPGA.run.svf
/bit.now.bit
/mcs.now.mcs

/cfgOpenOCD
/openocd_run

/csrc/
/simv
/simv.daidir/

/ucli.key

/novas_dump.log
/verdi.fsdb

/novas.conf
/novas.rc
/verdiLog/
/verdi.play01.txt
/vericomLog/
/work.lib++/

/.synopsys_dc.setup
/command.log
/scr_dc.script??.scr
/dcWORK/
/default.svf
/log.dc.log??.txt

filenames.log
filelist.verdi.txt
